<%- include('../partial/_header') %>

<h1>Про нас</h1>

<div class="about-section">
    <p>Ласкаво просимо до спортивної команди "Аура" у місті Київ! Ми - це спільнота, де мрії перетворюються на дійсність у царині повітряної гімнастики та акробатики. Ми проводимо тренування із різних піджанрів цих видів спорту, сприяючи розвитку координації, гнучкості та сили у наших учнів.</p>
    <p>Наші тренери - це справжні професіонали з багаторічним досвідом, які вкладають усе своє знання та енергію в розвиток молодих спортсменів. Результат цієї спільної праці вражає: наші учні регулярно беруть участь у чемпіонатах та фестивалях різного рівня, де здобувають призові місця та вражають глядачів своїми виступами. Долучайтеся до нашої команди "Аура" та відчуйте дивовижний світ спорту та перемог разом з нами!</p>
</div>

<%- include('../partial/_footer') %>
