<%- include('../partial/_header') %>

<p><h1>Тренери</h1></p>

<div class="accordion" id="coachesAccordion">

  <div class="accordion-item">
    <h2 class="accordion-header" id="coachDarynaHeading">
      <button class="accordion-button collapsed" style="background-color: #9999FF; color: white; font-weight: 600; font-size: x-large;" type="button" data-bs-toggle="collapse" data-bs-target="#coachDarynaCollapse" aria-expanded="true" aria-controls="coachDarynaCollapse">
        Дарина
      </button>
    </h2>
    <div id="coachDarynaCollapse" class="accordion-collapse collapse" aria-labelledby="coachDarynaHeading" data-bs-parent="#coachesAccordion">
      <div class="accordion-body">
        <div class="contact-info m-10">
            <p><strong>Контакти:</strong>
                <div class="d-flex">
                    <a href="https://www.instagram.com/daryna.stupen" target="_blank" class="me-3">
                        <i class="bi bi-instagram fs-3"></i>
                    </a>
                    <a href="https://www.tiktok.com/@daryna.stupen" target="_blank" class="me-3">
                        <i class="bi bi-tiktok fs-3"></i>
                    </a>
                    <a href="https://t.me/darynacoach" target="_blank">
                        <i class="bi bi-telegram fs-3"></i>
                    </a>
                </div>
            </p>
        </div>
        <h3>ЖАНРИ</h3>
      <ul>
        <li>повітряні полотна від рівня початківець і вище</li>
        <li>повітряне кільце від рівня початківець і вище</li>
        <li>повітряні петлі для початківців</li>
      </ul>
      <h3>ФОРМАТ ТРЕНУВАНЬ ТА ВІК</h3>
      <ul>
        <li>групові тренування: діти 10 - 17 років</li>
        <li>індивідуальні тренування: діти 8 - 17 років</li>
        <li>тренування у парі: діти від 8 - 17 років</li>
        <li>дорослі у форматі індивів або парних занять від рівня аматор і вище</li>
      </ul>
      <h3>НАПРЯМ ТРЕНУВАНЬ</h3>
      <ul>
        <li>виключно спортивний напрям — середні та інтенсивні навантаження, відвідування від 2-3 разів на тиждень, участь у змаганнях обовʼязкова по досягненню відповідного рівня</li>
      </ul>
      <h3>РОБОЧІ ДНІ</h3>
      <ul>
        <li>понеділок - пʼятниця</li>
        <li>субота та неділя — вихідні дні</li>
        <li>у вихідні можливе відпрацювання відмін через тривогу або дод.заняття для змагань</li>
        <li>тренування у вихідні на постійній основі по х2 прайсу</li>
      </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="coachTaiaHeading">
      <button class="accordion-button collapsed" style="background-color: #9999FF; color: white; font-weight: 600; font-size: x-large;" type="button" data-bs-toggle="collapse" data-bs-target="#coachTaiaCollapse" aria-expanded="false" aria-controls="coachTaiaCollapse">
        Тая
      </button>
    </h2>
    <div id="coachTaiaCollapse" class="accordion-collapse collapse" aria-labelledby="coachTaiaHeading" data-bs-parent="#coachesAccordion">
      <div class="accordion-body">
        <div class="contact-info m-10">
            <p><strong>Контакти:</strong>
                <div class="d-flex">
                    <a href="https://www.instagram.com/ta.ssss.ia" target="_blank" class="me-3">
                        <i class="bi bi-instagram fs-3"></i>
                    </a>
                    <a href="https://www.tiktok.com/@ta.ssss.ia" target="_blank" class="me-3">
                        <i class="bi bi-tiktok fs-3"></i>
                    </a>
                    <a href="https://t.me/ta_ssss_ia" target="_blank">
                        <i class="bi bi-telegram fs-3"></i>
                    </a>
                </div>
            </p>
        </div>
        
        <h3>ПОВІТРЯНІ ЖАНРИ</h3>
      <ul>
        <li>повітряні полотна від рівня початківець і вище</li>
        <li>повітряне кільце для початківців</li>
      </ul>
      <h3>ХТО МОЖЕ ПРИЙТИ НА ТРЕНУВАННЯ</h3>
      <ul>
        <li>діти від 8 років</li>
        <li>діти від 10 років</li>
        <li>дорослі</li>
      </ul>
      <h3>ФОРМАТ ТРЕНУВАНЬ ТА ВІК</h3>
      <ul>
        <li>групові тренування: діти 10 - 18 років, дорослі до 25 років із попереднім досвідом у будь-якому спорті</li>
        <li>індивідуальні тренування: діти від 8 років, дорослі без досвіду у спорті і з ним</li>
        <li>тренування у парі: діти від 8 років, дорослі без досвіду у спорті і з ним</li>
      </ul>
      <h3>НАПРЯМИ ТРЕНУВАНЬ</h3>
      <ul>
        <li>для себе — легкі та середні навантаження, відвідування від 1 разу на тиждень, без обовʼязкової участі у змаганнях</li>
        <li>спортивний напрям — середні та інтенсивні навантаження, відвідування від 2-3 разів на тиждень, участь у змаганнях обовʼязкова по досягненню відповідного рівня</li>
      </ul>
      </div>
    </div>
  </div>

</div>

<%- include('../partial/_footer') %>
