<%- include('../partial/_header_home') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-1">
      <a href="/about" class="btn btn-primary btn-lg btn-block text-white w-100 custom-btn">Про нас</a>
    </div>
    <div class="col-md-6 mb-1">
      <a href="/coaches" class="btn btn-primary btn-lg btn-block text-white w-100 custom-btn">Тренери та напрямки</a>
    </div>
    <div class="col-md-6 mb-1">
      <a href="/price" class="btn btn-primary btn-lg btn-block text-white w-100 custom-btn">Ціни</a>
    </div>
    <div class="col-md-6 mb-1">
      <a href="/rules" class="btn btn-primary btn-lg btn-block text-white w-100 custom-btn">Наші правила</a>
    </div>
  </div>
</div>

<%- include('../partial/_footer_home') %>
