<%- include('../partial/_header') %>

<div class="container my-5">
    <h1 class="mb-4">ПРАЙС</h1>
    <div class="row">
        <!-- Group Training -->
        <div class="col-md-4 mb-4">
            <h3>Групові тренування</h3>
            <ul class="list-unstyled">
                <li>📍разове заняття — 375 грн</li>
                <li>📍абон 4 заняття — 1300 грн</li>
                <li>📍абон 8 занять — 2600 грн</li>
                <li>📍абон 12 занять — 3900 грн</li>
            </ul>
            <p>Кількість місць: від 2 до 4 людей</p>
            <p>Тривалість: 1,5 години</p>
            <p>Реквізит: полотно, кільце</p>
        </div>
        <!-- Pair Training -->
        <div class="col-md-4 mb-4">
            <h3>Тренування у парі</h3>
            <ul class="list-unstyled">
                <li>📍разове заняття — 525 грн</li>
                <li>📍абон 4 заняття — 1900 грн</li>
                <li>📍абон 8 занять — 3800 грн</li>
                <li>📍абон 12 занять — 5700 грн</li>
                <li>*за одну людину</li>
            </ul>
            <p>Кількість місць: 2 людини</p>
            <p>Тривалість: 1,5 години</p>
            <p>Реквізит: полотно, кільце, петлі</p>
        </div>
        <!-- Individual Training -->
        <div class="col-md-4 mb-4">
            <h3>ІНДИВІДУАЛЬНЕ ТРЕНУВАННЯ</h3>
            <ul class="list-unstyled">
                <li>📍разове заняття — 750 грн</li>
                <li>📍абон 4 заняття — 2600 грн</li>
                <li>📍абон 8 занять — 5200 грн</li>
                <li>📍абон 12 занять — 7800 грн</li>
            </ul>
            <p>Кількість місць: 1 людина</p>
            <p>Тривалість: 1,5 години</p>
            <p>Реквізит: полотно, кільце, петлі</p>
        </div>
    </div>
</div>

<%- include('../partial/_footer') %>
