<%- include('../partial/_header') %>

<div class="container mt-5">
    <h1 class="text-center mb-4">ПРАВИЛА</h1>

    <!-- Navigation -->
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3 mb-4 justify-content-around">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" style="background-color: #9999FF; color: #f8f9fa" href="#section1">УМОВИ ОПЛАТИ та АБОНЕМЕНТІВ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: #f8f9fa; color: #9999FF;" href="#section2">ЗАПИС та ЙОГО СКАСУВАННЯ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: #9999FF; color: #f8f9fa" href="#section3">ПРОТИПОКАЗАННЯ ДО ТРЕНУВАНЬ</a>
            </li>
        </ul>
    </nav>

    <!-- Sections -->
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <section id="section1" style="background-color: #f8f9fa; border-radius: 10px; padding: 20px; margin-bottom: 20px;" class="mb-5">
            <h2>УМОВИ ОПЛАТИ та АБОНЕМЕНТІВ</h2>
            <h3>ОПЛАТА ТРЕНУВАНЬ</h3>
            <ul>
                <li>безготівковий розрахунок на картку</li>
                <li>розрахунок готівкою</li>
            </ul>
            <p>Розрахунок за тренування відбувається завчасно:</p>
            <ul>
                <li>Готівкою при разовій оплаті - в день тренування за наступне заняття</li>
                <li>Готівкою при абонементі - в день останнього заняття</li>
                <li>Безготівковий розрахунок - не пізніше, ніж за добу до тренування</li>
            </ul>
            <p>У випадку відсутності оплати у зазначений термін - запис на тренування скасовується автоматично без попередження. На вільне місце записується інший бажаючий.</p>
            <ul>
                <li>при записі на заняття день в день - тренування оплачується одразу</li>
            </ul>
            <p>Оскільки ми працюємо у залі “DUCKS” як “запрошена команда” - оплата занять складається із: оплати за тренування та оплати за відвідування залу (125 грн групові заняття від 2 людей та 250 грн за індивідуальне тренування). Обидві суми вже враховані у вартість тренувань.</p>

            <h3>ПОВЕРНЕННЯ КОШТІВ</h3>
            <ul>
                <li>кошти за відпрацьовані тренування поверненню не підлягають</li>
                <li>якщо клієнт не встигає використати всі заняття із абонементу, залишок коштів за тренування поверненню чи перенесенню не підлягає; залишок коштів за оплату залу переноситься на наступний абонемент</li>
                <li>повернення коштів можливе у випадку відмови від тренувань або тривалого відʼїзду; залишок коштів із абонементу у такому випадку підлягає поверненню в межах дії абонемента</li>
                <li>повернення коштів відбувається тільки у безготівковому форматі</li>
            </ul>

            <h3>УМОВИ КОРИСТУВАННЯ АБОНЕМЕНТАМИ</h3>
            <ul>
                <li>абонемент діє 1 місяць від дня першого користування ним</li>
                <li>абонемент можна заморозити на 1-2 тижні у випадку хвороби чи відʼїзду</li>
                <li>в ціну занять вже врахована оплата залу 125 грн (група та парне), 250 грн (індив)</li>
                <li>повернення коштів за використані заняття не відбувається</li>
                <li>повернення залишку коштів за невикористані тренування відбувається у межах дії абонементу у разі відмови від тренувань або тривалого відʼїзду</li>
                <li>оплата за невикористані тренування після завершення дії абонементу не повертається, оплата залу в такому випадку переноситься на наступний абонемент</li>
            </ul>
        </section>

        <section id="section2" style="background-color: #CCCCFF; border-radius: 10px; padding: 20px; margin-bottom: 20px;" class="mb-5">
            <h2>ЗАПИС та ЙОГО СКАСУВАННЯ</h2>
            <p><strong>ПОПЕРЕДНІЙ ЗАПИС НА ТРЕНУВАННЯ ОБОВʼЯЗКОВИЙ</strong></p>

            <h3>СКАСУВАННЯ ЗАПИСУ</h3>
            <p>Будь ласка, поважайте час та сили свого тренера. А також тих, хто займається разом із вами. Та скасовуйте свій запис завчасно для збереження коштів.</p>
            
            <h4>ГРУПОВІ ТРЕНУВАННЯ</h4>
            <ul>
                <li>якщо тренування призначене до 15:00 включно - скасування зі збереженням оплати до 22:00 переддень</li>
                <li>для тренувань призначених після 15:00 - скасування із збереженням оплати не пізніше, ніж за 4 години до початку тренування</li>
                <li>у разі скасування запису пізніше вказаних термінів - оплата за тренування вважається використаною, оплата залу переноситься на наступний раз</li>
            </ul>
            <p><strong>ЯКЩО У ГРУПУ ЗАПИСАНО 2 ЛЮДЕЙ:</strong></p>
            <ul>
                <li>один скасовує заняття завчасно - для іншого проводиться тренування у форматі та за ціною індивідуального (за бажанням) або тренування скасовується</li>
                <li>один скасовує тренування пізніше вказаних термінів - оплата вважається використаною у повному обсязі (тренування та зал). Для іншого тренування все одно відбувається на вказаний час за звичайною ціною групового заняття</li>
            </ul>

            <h4>СПЛІТ ТРЕНУВАННЯ (у парі)</h4>
            <ul>
                <li>якщо тренування призначене до 15:00 включно - скасування зі збереженням оплати до 22:00 переддень</li>
                <li>для тренувань призначених після 15:00 - скасування зі збереженням оплати не пізніше, ніж за 4 години до початку тренування</li>
            </ul>
            <p>Якщо один з пари скасовує заняття вчасно - для іншого за домовленістю можливе заняття за розкладом у форматі та за ціною індивідуального. Або ж тренування для обох переноситься на інший день та час.</p>
            <p>Якщо один з пари скасовує заняття пізніше вказаних термінів, оплата вважається використаною у повному обсязі (зал та тренування) - для іншого тренування все одно відбувається на вказаний час за звичайною ціною спліт заняття.</p>
            <p>Якщо пара одночасно скасовує запис пізніше вказаних термінів - оплата залу та 50% вартості тренування переноситься на наступний раз, інші 50% вартості тренування вважаються використаними.</p>

            <h4>ІНДИВІДУАЛЬНІ ТРЕНУВАННЯ</h4>
            <ul>
                <li>якщо тренування призначене до 13:00 включно - скасування до 22:00 переддень зі збереженням оплати</li>
                <li>для тренувань призначених після 13:00 - скасування із збереженням оплати не пізніше, ніж за 4 години до початку тренування</li>
                <li>якщо скасування пізніше вказаних термінів - оплата за тренування вважається використаною, оплата залу переноситься на наступне заняття / абонемент</li>
            </ul>

            <h4>ТРЕНУВАННЯ ТА ПОВІТРЯНА ТРИВОГА</h4>
            <p>Ми проводимо заняття під час повітряних тривог. Звісно, у межах розумного. Якщо з певних обставин під час або після повітряної тривоги клієнт не може доїхати на тренування - заняття переноситься на наступний раз із повним збереженням оплати.</p>
            <p>Тренування також може бути проведено за розкладом із запізненням не більше, ніж на пів години або за індивідуальної домовленості із тренером враховуючи всі обставини.</p>
        </section>

        <section id="section3" style="background-color: #f8f9fa; border-radius: 10px; padding: 20px; margin-bottom: 20px;" class="mb-5">
            <h2>ПРОТИПОКАЗАННЯ ДО ТРЕНУВАНЬ</h2>
            <h3>Категорично заборонено відвідувати тренування при наявності:</h3>
            <ul>
                <li>Нервова система: невралгії, неврити, радикуліти, виражені вегето неврози, неврастенія, епілепсія, енцефалопатія, психічні захворювання, хорея</li>
                <li>Серцево-судинна система: гіпертонічна хвороба, міокардіодистрофія, міокардити будь-якого походження, хронічний ендокардит, судинні захворювання тощо (будь-які захворювання серця та серцево-судинної системи). Також операції на серці чи мозку будь-якої давності</li>
                <li>Органи дихання: бронхіальна астма, хронічні бронхіти і бронхіоліти з порушенням функції дихання, бронхоектатична хвороба, пневмосклероз, туберкульоз, гострі захворювання органів дихання (запалення легенів, плеврит тощо)</li>
                <li>Система крові: анемії, лейкемії, хвороба Верльгофа, гемофілія, геморагічний діатез, еритремія</li>
                <li>Органи травлення: гастроптоз, виразкова хвороба, хронічні захворювання печінки і жовчних шляхів, гельмінтози (до періоду клінічного одужання)</li>
                <li>Сечостатева система: нефрози, нефрити, пієліти, камені в нирках, уретрити, камені і пухлини сечового міхура з порушенням функції</li>
                <li>Ендокринна система: акромегалія, гіпотиреоз, мікседема, інфантилізм, цукровий діабет, недостатність функції надниркових залоз та їх гіперфункція</li>
                <li>Хірургічні захворювання: деформуючий артрит і нейродистрофічний, поліміозит, остеохондропатія, будь-які викривлення хребта, анкілози, звичні і вроджені вивихи, контрактури, кривошия, остеодистрофія, хронічний остеомієліт, міопатія, геморой. Та будь-які дегенеративні захворювання опорно-рухового апарату</li>
                <li>будь-які шкірні \ вірусні \ інфекційні \ грибкові захворювання, що передаються через контакт</li>
                <li>варикоз</li>
                <li>цукровий діабет</li>
                <li>наявність ендопротезів</li>
                <li>онкологічні захворювання</li>
                <li>переломи хребта, відростків тощо будь-якої давності</li>
                <li>панічний страх висоти</li>
                <li>вагітність та період лактації</li>
                <li>гострий перебіг будь-яких захворювань</li>
                <li>загострення хронічних захворювань</li>
            </ul>

            <h3>Часткова заборона \ можна за дозволом лікаря</h3>
            <ul>
                <li>переломи, тріщини кісток давності не менше 1-2 місяці за дозволом лікаря після актуального відповідного обстеження</li>
                <li>розтяжіння, вивихи, сильні забої тощо давності не менше 1-2 місяці за дозволом лікаря після актуального відповідного обстеження</li>
                <li>струс мозку давності не менше 2-3 місяці за дозволом лікаря після актуального відповідного обстеження</li>
                <li>грижі та протрузії тільки за дозволом лікаря після актуального відповідного обстеження</li>
                <li>пієлонефрит за дозволом лікаря після актуального відповідного обстеження</li>
                <li>аденоїди, гайморити, синусити, викривлення носової перегородки з порушенням функції дихання, хронічні риніти з утрудненим диханням через ніс, гнійні отити виключно за дозволом лікаря після актуального обстеження</li>
                <li>температура вище 37.1</li>
                <li>післяопераційний період за дозволом лікаря</li>
                <li>погане самопочуття, нудота, слабкість тощо</li>
            </ul>
        </section>
    </div>
</div>

<%- include('../partial/_footer') %>
