</div>
<footer class="bg-light text-dark py-4 mt-5">
    <div class="container">
        <div class="row justify-content-around w-70 mx-auto">
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/coaches">Тренери та напрямки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/price">Ціни</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Наші правила</a>
                    </li>
                </ul>
            </div>
  
            <div class="col-md-3 text-end">
                <a class="d-block mb-2" href="https://maps.app.goo.gl/FdGaffVduYMrVygQ9" target="_blank">
                    <i class="bi bi-geo-alt"></i> Тренуємося ТУТ
                </a>
                <a class="d-block mb-2" href="https://www.instagram.com/aura.aerial.team" target="_blank">
                    <i class="bi bi-instagram"></i> Instagram
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>